[submodule "mindcontrol_behav"]
	path = mindcontrol_behav
	url = https://github.com/leiferlab/mindcontrol.git
[submodule "mindcontrol_fluor"]
	path = mindcontrol_fluor
	url = https://github.com/leiferlab/mindcontrol.git
